
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .layui-form {
        margin: 5px;
    }
</style>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label" style="width:100px;">新密码：</label>
        <div class="layui-input-block">
            <input type="password" name="password" id="password" required lay-verify="required" placeholder="新密码" autocomplete="off" class="layui-input" maxlength="16">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo" id="btnChange">保存</button>
        </div>
    </div>
</form>
<script>
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer;
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            //layer.msg(JSON.stringify(data.field));
            //layer.msg("通过验证");
            var Url = "/Admin/System/ChangePassWord";
            var data = { passWord: $("#password").val() };
            $.post(Url, data, function (data) {
                if (data.state == "y") {
                    layer.alert(data.msg, function () { parent.location.href = "/Admin/Home/UserLogin" });

                }
                else {
                    layer.alert(data.msg);
                }
            }, 'json');
            return false;
        });

    });
</script>