
@{

    Blog.DAL.BlogDAL blogDAL = ViewBag.BlogDAL;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/assets/Hexo/css/style.css" rel="stylesheet" />
    <link href="/lib/layui/css/layui.css" rel="stylesheet" />
</head>

<body>
    <div id="container">
        <div class="left-col">
            <div class="overlay"></div>
            <div class="intrude-less">
                <header id="header" class="inner">
                    <a href="/" class="profilepic">
                        <img lazy-src="images/WRQ.png" class="js-avatar">
                    </a>
                    <hgroup>
                        <h1 class="header-author"><a href="/">一条咸鱼</a></h1>
                    </hgroup>
                    <p class="header-subtitle">
                        <div class="">
                            <input type="text" class="layui-input" id="txtkey" placeholder="关键字" />
                            @*<button type="button" class="layui-btn" id="btnSearch" style="float:left;"><i class="layui-icon">&#xe615;</i> 查 询</button>*@
                        </div>
                    </p>
                    <div class="switch-area">
                        <div class="switch-wrap">
                            <section class="switch-part switch-part1">
                                <nav class="header-menu">
                                    <ul>
                                        @foreach (Blog.Model.CATEGORY item in ViewBag.CategoryList)
                                        {
                                            <li><a href="javascript:;" onclick="LoadPagingByPageIndex(1,@item.Id)">@Html.Raw(item.CName) （@(blogDAL.GetCountByCategoryTypeId(item.Id))）</a></li>
                                        }
                                        <div class="clearfix"></div>
                                    </ul>
                                </nav>
                                <nav class="header-nav">
                                    <div class="social">
                                        <a class="github" target="_blank" href="https://github.com/Ihone8" title="github">github</a>
                                        <a class="mail" target="_blank" href="mailto:2213629594qq.com" title="Email">Email</a>
                                    </div>
                                </nav>
                            </section>                                                   
                        </div>
                    </div>
                </header>
            </div>

        </div>
        <div class="mid-col">
            <nav id="mobile-nav">
                <div class="overlay">
                    <h1 class="header-author js-mobile-header hide">一条咸鱼</h1>
                </div>
                <div class="intrude-less">
                    <header id="header" class="inner">
                        <div class="profilepic">
                            <img src="" class="js-avatar">
                        </div>
                        <hgroup>
                            <h1 class="header-author">WRQ</h1>
                        </hgroup>

                        <p class="header-subtitle">一条咸鱼</p>

                        <nav class="header-menu">
                            <ul>
                                @foreach (Blog.Model.CATEGORY item in ViewBag.CategoryList)
                                {
                                    <li><a href="/Home/Index?PageIndex=0&PageSize=2&CategoryType=@item.Id">@Html.Raw(item.CName) （@(blogDAL.GetCountByCategoryTypeId(item.Id)))）</a></li>
                                }
                                <div class="clearfix"></div>
                            </ul>
                        </nav>
                        <nav class="header-nav">
                            <div class="social">
                                <a class="github" target="_blank" href="https://github.com/Ihone8" title="github">github</a>
                                <a class="mail" target="_blank" href="mailto:2213629594qq.com" title="Email">Email</a>
                            </div>
                        </nav>
                    </header>
                </div>
            </nav>

            <div class="body-wrap">
                <div id="BlogList"></div>
                <div>
                    <div style="float:left;line-height:55px;margin:0 15px;font-size:14px;">
                        当前共<span id="totalCount"></span>篇文章，第<span id="pageIndex"></span>页/共<span id="pageCount"></span>页
                    </div>
                </div>
                <div id="page" style="margin-left:32px;"></div>
            </div>

            <footer id="footer">
                <div class="outer">
                    <div id="footer-info">
                        <div class="footer-left">
                            &copy; @DateTime.Now.Year <a href="https://github.com/Ihone8">Ihone8</a>, Template

                        </div>
                        <div class="footer-right">
                            Powered by <a href="https://github.com/Ihone8/dotnetCoreBlog" target="_blank">XYBlog</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <link href="/assets/Hexo/css/fancybox.css" rel="stylesheet" />
        <link href="/assets/Hexo/css/fancybox.css" rel="stylesheet" />
        <script src="/assets/Hexo/js/highlight.js"></script>
        <script src="/assets/Hexo/js/r.js"></script>
        <script src="/assets/Hexo/js/main.js"></script>
        <script>
            var yiliaConfig = {
                fancybox: true,
                mathjax: true,
                animate: true,
                isHome: true,
                isPost: false,
                isArchive: false,
                isTag: false,
                isCategory: false,
                open_in_new: false
            }
        </script>
    </div>
    <script src="/lib/layui/layui.js"></script>
    <script>
        var PageSize = 3;
     



        LoadPagingByPageIndex(1,"");



        function LoadPagingByPageIndex(pageIndex, CategoryTypeId) {
            layui.use(['laypage', 'layer', 'laydate'], function () {
                var laypage = layui.laypage;
                var layer = layui.layer;
                var key = $.trim($('#txtkey').val());  //标题关键字
                var postdata = {
                    Title: key,
                    PageSize: PageSize,
                    CategoryType: CategoryTypeId,
                    PageIndex: pageIndex - 1
                };
                var Url = "/Admin/Home/GetBlogListByPaging";
                $.post(Url, postdata, function (data) {
                    // 第一页
                    if (pageIndex == 1) {
                        laypage.render({
                            elem: 'page',
                            count: data.total,
                            //skin: '#5fb878',
                            //skip: false,
                            limit: PageSize,
                            jump: function (obj, first) {
                                if (!first) {
                                    $('#pageIndex').html(obj.curr);
                                    LoadPagingByPageIndex(obj.curr);
                                }
                            }
                        });
                    }
                    $("#pageCount").html(data.pageCount);  // 共多少页
                    $("#totalCount").html(data.total);    // 多少条记录
                    $('#pageIndex').html(pageIndex);
                    var Html = "";
                    $.each(data.data, function (i, obj) {
                        Html += "<article class='article article-type-post' itemscope itemprop='blogPost'>";
                        Html += "<div class='article-meta'><a href='' class='article-date' ><time datetime='' itemprop='datePublished'>" + obj.createDate + "</time></a></div>";
                        Html += "<div class='article-inner' ><input type='hidden' class='isFancy' /><header class='article-header'><h1 itemprop='name'><a class='article-title' style='width:780px;display:block' href='/Home/ShowBlogDetails/" + obj.id + "'>" + obj.title + "</a></h1></header>";
                        Html += " <div class='article-entry' itemprop='articleBody'>" + obj.title + "</div>";
                        Html += " <div class='article-info article-info-index'><div class='article-tag tagcloud'><ul class='article-tag-list'><li class='article-tag-list-item'><a class='article-tag-list-link color1' asp-action='Tag' asp-controller='Home' asp-route-tag='" + obj.categoryTypeName + "'>" + obj.categoryTypeName + "</a></li></ul>";
                        Html += " </div><div class='clearfix'></div></div></div></article>";
                    });
                    $("#BlogList").html(Html);

                })
            })
        }
        $("#txtkey").keyup(function () {
            if (event.keyCode == 13) {
                LoadPagingByPageIndex(1,"");
                //这里写你要执行的事件;
            }
        });
    </script>
</body>
</html>